torch==2.2.0
torchvision==0.17.0
matplotlib==3.8.3
MedPy==0.4.0
numpy==1.26.4
SimpleITK==2.3.1
tensorboardX==2.6.2.2
pandas==2.2.0
pillow==10.2.0
tqdm
h5py
nibabel==5.2.1
torchmetrics
einops
timm
PyWavelets
scipy
scikit-image
